In [2]:
#from sqlalchemy import create_engine, select, Table, text
#from sqlalchemy import Table, Column, Integer, String, MetaData, ForeignKey`

In [3]:
import sqlalchemy as sa
import pandas as pd
source_db = 'postgres://mihai@hermes:5432/fallback3'
views_engine = sa.create_engine(source_db)
meta = sa.MetaData(schema='dmp', bind=views_engine)
t1 = sa.Table('t1',
              sa.MetaData(),
              schema='dmp',
              autoload=True,
              autoload_with=views_engine)
t2 = sa.Table('t2',
              sa.MetaData(),
              schema='dmp',
              autoload=True,
              autoload_with=views_engine)
t3 = sa.Table('t3',
              sa.MetaData(),
              schema='dmp',
              autoload=True,
              autoload_with=views_engine)
#works like a charm
q4 = sa.select([t1,t3]).select_from(t1.join(t3, t3.c.t1_id==t1.c.id))
data = pd.read_sql(q4, con=views_engine)
print (data)
#doesn't work like a charm
q4 = sa.select([t1,t3]).select_from(t1.join(t3))
data = pd.read_sql(q4, con=views_engine)
print (data)

   id  val1  val2  t1_id    y1   y3
0   1  1120     1      1  3920  934
1   2   294   455      2  3952   39
2   4    52     1      4     5   29

NoForeignKeysError: Can't find any foreign key relationships between 't1' and 't3'.

In [112]:
a

   id  val1  val2  t1_id    y1   y3
0   1  1120     1      1  3920  934
1   2   294   455      2  3952   39
2   4    52     1      4     5   29
Can't find any foreign key relationships between 't1' and 't3'.

   id  val1  val2  t1_id    y1   y3
0   1  1120     1      1  3920  934
1   2   294   455      2  3952   39
2   4    52     1      4     5   29

In [6]:
query1 = sa.select([t1])
pd.read_sql(query1, con=views_engine)

   id  val1  val2
0   1  1120     1
1   2   294   455
2   3   593    21
3   4    52     1
4   9    21   490

In [7]:
query2 = sa.select([t2])
pd.read_sql(query2, con=views_engine)

   t1_id   x1    x3
0      1  290  0.10
1      4   93  0.21
2      6    0  0.40
3      3   22  0.20

In [17]:
query3 = sa.select([t3])
pd.read_sql(query3, con=views_engine)

   t1_id    y1   y3
0      1  3920  934
1      2  3952   39
2      4     5   29

In [49]:
a = ['a','x','m']
b = ['a','b','c','d','e','m']

In [50]:
[j for i in a for j in b if i==j]

['a', 'm']

In [81]:
t3

Table('t3', MetaData(bind=None), Column('t1_id', INTEGER(), ForeignKey('dmp.t1.id'), table=<t3>), Column('y1', INTEGER(), table=<t3>), Column('y3', INTEGER(), table=<t3>), schema='dmp')

In [82]:
t1

Table('t1', MetaData(bind=None), Column('id', INTEGER(), table=<t1>, primary_key=True, nullable=False), Column('val1', INTEGER(), table=<t1>), Column('val2', INTEGER(), table=<t1>), schema='dmp')

In [113]:
t3.foreign_keys

{ForeignKey('dmp.t1.id')}

In [114]:
t3.foreign_key_constraints

{ForeignKeyConstraint(<sqlalchemy.sql.base.ColumnCollection object at 0x7fedc0e35730>, None, name='dmpt3fk', link_to_name=True, table=Table('t3', MetaData(bind=None), Column('t1_id', INTEGER(), ForeignKey('dmp.t1.id'), table=<t3>), Column('y1', INTEGER(), table=<t3>), Column('y3', INTEGER(), table=<t3>), schema='dmp'))}

In [97]:
key0 = list(t3.foreign_keys)[0]

In [102]:
key0

ForeignKey('dmp.t1.id')

In [1]:
sa.session.query

NameError: name 'sa' is not defined

In [71]:
q4 = sa.select([t1,t2,t3]).select_from(t1.join(t3, t3.c.t1_id==t1.c.id).join(t2, t2.c.t1_id==t1.c.id))
pd.read_sql(q4, con=views_engine)
print (q4)

SELECT dmp.t1.id, dmp.t1.val1, dmp.t1.val2, dmp.t2.t1_id, dmp.t2.x1, dmp.t2.x3, dmp.t3.t1_id, dmp.t3.y1, dmp.t3.y3
FROM dmp.t1 JOIN dmp.t3 ON dmp.t3.t1_id = dmp.t1.id JOIN dmp.t2 ON dmp.t2.t1_id = dmp.t1.id

In [70]:
x = t1.join(t3, t3.c.t1_id==t1.c.id)
x = x.join(t2, t2.c.t1_id==t1.c.id)
x=sa.select([t1,t2,t3]).select_from(x)
pd.read_sql(q4, con=views_engine)

   id  val1  val2  t1_id   x1    x3  t1_id    y1   y3
0   1  1120     1      1  290  0.10      1  3920  934
1   4    52     1      4   93  0.21      4     5   29

In [59]:
set(['abc','def'])-set(['abc','def'])

set()